.pantalla {
  display: none;
}

#pantInicio {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffe1ce;
  margin: 0;
  padding: 0;
}
header {
  background-color: #FF4500;
  color: white;
  font-size: 1rem;
  text-align: center;
  height: 60px;
}

.btn-container {
  display: flex;
  gap: 0;
  align-items: center;
}

button {
  background-color: #FF8C00;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  height: 60px;
  width: 303.46px;
  margin: 0;
  text-align: center;
  justify-content: left;
  align-items: left;
}
.btn.active {
  background-color: #666;
}


button:hover {
  background-color: #ffac31;
}